<!DOCTYPE html>
<html>
<meta charset="Utf-8">
<link rel="stylesheet" href="./css/highcharter.css"></link>
<script src="./highcharts/highcharts.js"></script>
<script src="./highcharts/jquery-3.4.1.min.js"></script>
<script src="./highcharts/modules/data.js"></script>

<body>
　　<table>
    <tr>
        <th style="background-color: #4169E1" colspan="4">Search Condition</th>
    </tr>
    <tr>
        <td>
            <label for="display_time">Interval</label>
            <select id="display_time">
                <option value="3m">Near 3Months</option>
            </select>
        </td>
        <td>
            <label for="rule_hit">Rule Hit</label>
            <select id="rule_hit">
                <option value="all">All</option>
                <option value="part">Part</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="display">Content</label>
            <select id="display">
                <option value="transact">Transaction</option>
                <option value="account">Account</option>
            </select>
        </td>
        <td>
            <label for="optimiza">Optimization</label>
            <select id="optimiza">
                <option value="valid">Valid</option>
                <option value="invalid">Invalid</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button id="button">Search</button>
        </td>
        <td>
            <button id="button2">Reset</button>
            </form>
        </td>
    </tr>
</table>

<div id="container" style="width:100%; height:400px;"></div>
<script type="text/javascript" src="./js/ai_monitor_post.js"></script>
<script>
</script>
</body>

</html>
